{% extends "account.master" %}

{% block css %}
    <link href="{{ setting('url') }}/web/css/message.css" rel="stylesheet">
    <style>
        #page-wrapper {
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block user_area %}
    <div class="wide-layout" id="page-wrapper">
        {% if app.session.get('error') %}
            <div class="mp-Alert mp-Alert--error">
                <span class="mp-Alert-icon mp-svg-alert--inverse"></span>
                <div>
                    {{ app.session.get('error')}}
                </div>
            </div>
        {% endif %}
        <div class="l-page indexpage" id="content" style="height: 800px;margin-bottom:150px;">
            <div style="top: 10px;" class="inbox-messages chatheader">
                <div class="messages-left">
                    <div class="mp-Card message-left-header">
                        <div class="mp-Card-block">
                            <h1>Disputes</h1>
                        </div>
                    </div>
                    <div class="message-left-header-shadow">
                        <div class="ConversationsToolsMolecule-root"></div>
                    </div>
                    <div class="message-left-part">
                        <div>
                            <ol class="ConversationsOrganism-listRoot">
                                    {% for dispute in disputes  %}
                                        <li class="ConversationsOrganism-listItem">
                                            <div class="ConversationMolecule-root ConversationMolecule-{{decide_dispute.id == dispute.id ? 'rootOpen' : 'selling'}}">
                                                <a href="{{route('account.dispute.show',dispute.id)}}">
                                                    <div class="ConversationMolecule-leftUnit">
                                                        <div class="ConversationMolecule-thumbnailUnit">
                                                            <div class="ThumbnailAtom-root ThumbnailAtomSizes-lg ThumbnailAtomBorderRadii-xs" style="background-image: url({{dispute.seller.avatar}});"></div>
                                                            <div class="ConversationMolecule-thumbnailProfilePictureUnit">
																<span class="ProfilePictureAtom-root ProfilePictureAtomSizes-sm ProfilePictureAtom-rootBordered">
																	<span>{{dispute.seller.username|first}}</span>
																</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ConversationMolecule-rightUnit">
                                                        <h2 class="ConversationMolecule-title">Dispute #{{dispute.id}}</h2>
                                                        <div class="ConversationMolecule-body">
                                                            <div class="ConversationMolecule-meta">vendor {{dispute.seller.username}}</div>
                                                            <div class="ConversationMolecule-latestMessageWrapper">
                                                                <span>{{dispute.replies.last.message | str_limit(18)}}</span>
                                                            </div>
                                                        </div>
                                                        <footer>
                                                            <div class="ConversationMolecule-receivedDateUnit">
                                                                <span>Status: {{dispute.resolved == 0 ?  "Unsolved" : dispute.winner == auth_user().id ? "Won" : "Lost"}}</span>
                                                            </div>
                                                        </footer>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                    {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="chatindividual part2">
                    <div class="chatbox">
                        <header>
                            <div class="ConversationTopicOrganism-root">
                                <div class="ConversationTopicOrganism-titleUnit">
                                    <div class="ConversationTopicOrganism-backLinkUnit">
                                        <a href="/messages/">
                                            <span class="mp-Icon mp-Icon--lg mp-svg-arrow-left"></span>
                                            <span class="ConversationTopicOrganism-backLinkText">back</span>
                                        </a>
                                    </div>
                                    <h2 class="ConversationTopicOrganism-title">
                                        <a href="/profile/Take">
											<span class="ConversationTopicOrganism-profilePictureUnit">
												<span class="ProfilePictureAtom-root ProfilePictureAtomSizes-md">
													<span>S</span>
												</span>
											</span>
                                            <span class="ConversationTopicOrganism-name">Dispute #{{decide_dispute_id}}</span>
                                        </a>
                                    </h2>
                                </div>
                                <div>
                                    <div class="AdvertisementSnippetMolecule-innerContainer">
                                        <div class="AdvertisementSnippetMolecule-thumbnailUnit">
                                            <div class="ThumbnailAtom-root ThumbnailAtomSizes-md ThumbnailAtomBorderRadii-xxs" style="background-image: url({{decide_dispute.order.listing.photo}});"></div>
                                        </div>
                                        <div class="AdvertisementSnippetMolecule-leftTextUnit">
                                            <div class="AdvertisementSnippetMolecule-title">Sale #{{decide_dispute.order.hash}} {{decide_dispute.order.listing.title}}</div>
                                            <div class="AdvertisementSnippetMolecule-secondaryInfo">
                                                <div class="AdvertisementSnippetMolecule-price">
														<span>
															<span>{{ GetCurrency() }} {{ToUserCurrency(decide_dispute.order.listing.price,listing.currency)}}</span>
														</span>
                                                </div>
                                                <div class="AdvertisementSnippetMolecule-locationInfo">Date Bought {{decide_dispute.order.created_at.toDayDateTimeString}}</div>
                                            </div>
                                        </div>
                                        <span class="AdvertisementSnippetMolecule-rightTextUnit">
												<span  class="mp-Icon mp-Icon--xl mp-svg-arrow-right--secondary"></span>
											</span>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <article>
                            <div class="MessagesOrganism-root">
                                <div class="MessagesOrganism-group">
                                    <h3 class="DateHeadingMolecule-root">
                                        <span>Dispute {{decide.created_at.diffForHumans()}} created</span>
                                    </h3>
                                    <ol class="MessagesOrganism-listRoot">
                                        <li class="MessagesOrganism-listItem MessagesOrganism-listItem_from_otherparticipant">
                                            <div>
                                                <div class="MessageMolecule-root MessageMolecule-root_from_otherparticipant MessageMolecule-tail">
                                                    Chat guidelines.<br><br><ul>
                                                        <li>Please keep all dispute-related messages in this section, and keep it civilized.</li>
                                                        <li><br>
                                                            <b>Buyer:</b>
                                                            Please give a detailed response about the reason for your dispute.</li>
                                                        <li>
                                                            <b>Vendor:</b>
                                                            If the order is tracked, please give us the tracking or defend yourself</li>
                                                        <br>
                                                        <li>If there is no solution made between the seller and the buyer, the moderator will solve the matter based on the buyers/vendor history.</li>
                                                        <br>
                                                        <li>If vendor or buyer does not respond in a timely fashion of
                                                            <b>3 days</b>, the sale will be cancelled and refunded or finalized.</li>
                                                        </u>
                                                        <div class="MessageMolecule-meta MessageMolecule-sender">
                                                            <span style="color:red;font-weight:bold;">Moderator</span>
                                                        </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>


                                {% for reply in decide_dispute.replies %}
                                    <div class="MessagesOrganism-group">
                                        <ol class="MessagesOrganism-listRoot">
                                            <li class="MessagesOrganism-listItem {{reply.user_id == auth_user().id ? "MessagesOrganism-listItem_from_me" : "MessagesOrganism-listItem_from_otherparticipant" }}">
                                                <div style="width:100%;" class="MessageMolecule-root {{reply.user_id == auth_user().id ? "MessageMolecule-root_from_me MessageMolecule-tail" : "MessageMolecule-root_from_otherparticipant MessageMolecule-tail" }} ">
                                                    {{reply.message}}
                                                    <div style="right:10px;bottom:0;" class="MessageMolecule-meta MessageMolecule-sender">
													<span>
														{{reply.user_id == decide_dispute.order.user_id ? "Buyer" : reply.user_id == decide_dispute.order.seller_id ? "Vendor" : ""}}
                                                        {% if reply.adminreply == 0 ? reply.user.username %}
                                                            <span style="color:black;font-weight:bold;">{{reply.user.username}}</span>
														{% else %}
                                                            <span style="color:red;font-weight:bold;">Moderator</span>
                                                        {% endif %}
													</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                {% endfor %}
                            </div>
                        </article>
                        <footer>
                            <div class="SmartSuggestionsOrganism-root"></div>
                            <section class="MessageComposerOrganism-root">
                                <form action="{{route('account.dispute.message',decide_dispute.id)}}" method="post" style="display: contents;">
                                    {{ csrf_field() }}
                                    <div>
                                        <textarea name="message" class="text-box {{ errors.has('message') ? ' invalid' : '' }}" placeholder="Write down your message, dont spam with when the dispute will be over.." {{decide_dispute.resolved == 1 ? "disabled"}}></textarea>
                                    </div>
                                    {% if decide_dispute.resolved != 1 %}
                                        <div class="MessageComposerOrganism-send MessageComposerOrganism-empty">
                                            <div>
                                                <button title="Sent" tabindex="0" class="mp-Button mp-Button--primary mp-Button--md">
                                                    <span class="mp-Icon mp-svg-send--inverse"></span>
                                                </button>
                                            </div>
                                        </div>.
                                    {% endif %}
                                </form>
                            </section>
                            <nav class="InlineComposerMenuMolecule-root">

                                    <form method="post" action="{{route('account.dispute.decision',[decide_dispute.id,"buyer"])}}">
                                        {{ csrf_field() }}
                                        <button type="submit" title="Refund the Buyer" class="InlineComposerMenuOptionAtom-root">
									<span class="InlineComposerMenuOptionAtom-iconAirlock">
										<i class="mp-sdk-svg mp-svg-alert-blue"></i>
									</span>
                                            <span class="InlineComposerMenuOptionAtom-label">Refund the <b>Buyer</b>.</span>
                                        </button>
                                    </form>
                                    <form method="post" action="{{route('account.dispute.decision',[decide_dispute.id,"seller"])}}">
                                        {{ csrf_field() }}
                                        <button type="submit" title="Release to Vendor" class="InlineComposerMenuOptionAtom-root" style="float: right;">
									<span class="InlineComposerMenuOptionAtom-iconAirlock">
										<i class="mp-sdk-svg mp-svg-checkmark-circled-green"></i>
									</span>
                                            <span class="InlineComposerMenuOptionAtom-label">Release to <b>Vendor</b>.</span>
                                        </button>
                                    </form>

                            </nav>

                        </footer>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

