{% extends "layouts.app" %}

{% block css %}
	<link href="{{ setting('url') }}/web/css/message.css" rel="stylesheet">
	<style>
		#page-wrapper {
			margin-bottom: 0;
		}
	</style>

{% endblock %}

{% block content %}
	<div class="wide-layout" id="page-wrapper">

		<div class="l-page indexpage" id="content" style="height: 800px;margin-bottom:150px;">
			<div class="mp-Alert mp-Alert--error">
				<span class="mp-Alert-icon mp-svg-alert--inverse"></span>
				<li>
					<b>Do not</b>
					open links from the chats, they will contain
					<b>phishing links</b>. Phishing links are leading to fake websites which are stealing your login data.
				</li>
			</div>

			<div class="inbox-messages chatheader">
				<div class="messages-left">
					<div class="mp-Card message-left-header">
						<div class="mp-Card-block">
							<h1>Messages</h1>
						</div>
					</div>
					<div class="message-left-header-shadow">
						<div class="ConversationsToolsMolecule-root"></div>
					</div>
					<div class="message-left-part">
						<div>
							<ol class="ConversationsOrganism-listRoot">
								{% for k, inbox in inboxes %}
									<li class="ConversationsOrganism-listItem">
										<div class="ConversationMolecule-root ConversationMolecule-{{id == inbox.thread.conversation_id ? 'rootOpen' : 'selling'}}">
											<a href="{{ route('inbox.show', inbox.thread.conversation_id) }}">
												<div class="ConversationMolecule-leftUnit">
													<div class="ConversationMolecule-thumbnailUnit">
														<div class="ThumbnailAtom-root ThumbnailAtomSizes-lg ThumbnailAtomBorderRadii-xs" style="background-image: url(&quot;{{ inbox.withUser.avatar }}&quot;);"></div>
														<div class="ConversationMolecule-thumbnailProfilePictureUnit">
															<span class="ProfilePictureAtom-root ProfilePictureAtomSizes-sm ProfilePictureAtom-rootBordered">
																<span>{{ inbox.withUser.username|first }}</span>
															</span>
														</div>
													</div>
												</div>
												<div class="ConversationMolecule-rightUnit">
													<h2 class="ConversationMolecule-title">{{ inbox.withUser.username }}</h2>
													{% if not inbox.thread.is_seen and inbox.thread.user_id != auth_user().id %}
														<span class="ConversationMolecule-titleBadgeUnit">
															<span class="BadgeAtom-root">1</span>
														</span>
													{% endif %}
													<div class="ConversationMolecule-body">
														<div class="ConversationMolecule-meta">from
															{{ inbox.withUser.username }}</div>
														<div class="ConversationMolecule-latestMessageWrapper">
															<span>{{ inbox.thread.message  | filter_message | str_limit(18)}}</span>
														</div>
													</div>
													<footer>
														<div class="ConversationMolecule-receivedDateUnit">
															<span>{{inbox.thread.created_at.diffForHumans()}}</span>
														</div>
													</footer>
												</div>
											</a>
										</div>
									</li>
								{% endfor %}

							</ol>
						</div>
					</div>
				</div>
				<div class="chatindividual part2">
					<div class="chatbox">
						<header>
							<div class="ConversationTopicOrganism-root">
								<div class="ConversationTopicOrganism-titleUnit">
									<div class="ConversationTopicOrganism-backLinkUnit">
										<a href="/messages/">
											<span class="mp-Icon mp-Icon--lg mp-svg-arrow-left"></span>
											<span class="ConversationTopicOrganism-backLinkText">back</span>
										</a>
									</div>
									<h2 class="ConversationTopicOrganism-title">
										<a href="/profile/{{recipient.username}}">
											<span class="ConversationTopicOrganism-profilePictureUnit">
												<span class="ProfilePictureAtom-root ProfilePictureAtomSizes-md">
													<span>{{recipient.username|first}}</span>
												</span>
											</span>
											<span class="ConversationTopicOrganism-name">{{recipient.username}}</span>
										</a>
									</h2>
								</div>
								<div></div>
							</div>
						</header>
						<article>
							<div class="MessagesOrganism-root">
								<div class="LegalDisclaimerMolecule-root">Roman Road staffs never ask you for your credentials. Don't Finalize Early a order if the vendor ask, if so report this conversation and he/she will get banned.
								</br>
								<b>Chat histories are cleaned every 5 days</b>
								<a target="_blank" href="/help/3" rel="noopener noreferrer">read more about rules
									<span class="mp-Icon mp-Icon--xs mp-svg-arrow-right--action"></span>
								</a>
							</div>
							{% for k, msg in messages %}
								{% if recipient.id == msg.sender.id %}
									<div class="MessagesOrganism-group">
										<h3 class="DateHeadingMolecule-root">
											<span>{{msg.created_at.toDayDateTimeString()}}</span>
										</h3>
										<ol class="MessagesOrganism-listRoot">
											<li class="MessagesOrganism-listItem MessagesOrganism-listItem_from_otherparticipant">
												<div>
													<div class="MessageMolecule-root MessageMolecule-root_from_otherparticipant MessageMolecule-tail">
														<div class="MessageMolecule-body">
															<span class="Linkify">{{msg.message | filter_message}}</span>
														</div>
														<div class="MessageMolecule-meta ">
															<span>{{msg.created_at.diffForHumans()}}</span>
														</div>
													</div>
												</div>
											</li>
										</ol>
									</div>
								{% endif %}

								{% if recipient.id != msg.sender.id %}
									<div class="MessagesOrganism-group">
										<h3 class="DateHeadingMolecule-root">
											<span>{{msg.created_at.toDayDateTimeString()}}</span>
										</h3>
										<ol class="MessagesOrganism-listRoot">
											<li class="MessagesOrganism-listItem MessagesOrganism-listItem_from_me">
												<div>
													<div class="MessageMolecule-root MessageMolecule-root_from_me MessageMolecule-tail">
														<div class="MessageMolecule-body">
															<span class="Linkify">{{msg.message | filter_message}}</span>
															<span class="MessageMolecule-receivedDatePlaceholder"></span>
														</div>
														<div class="MessageMolecule-meta MessageMolecule-sender">
															<span>{{msg.created_at.diffForHumans()}}</span>
															<span class="MessageMolecule-readStatusWrapper">
																{% if msg.is_seen %}
																	<span class="MessageReadStatusAtom-root" title="Read">
																		<div class="mp-sdk-svg-wrapper " style="width: 18px; height: 18px;">
																			<i class="mp-sdk-svg mp-svg-checkmark-thick--success"></i>
																		</div>
																		<div class="mp-sdk-svg-wrapper " style="width: 18px; height: 18px;">
																			<i class="mp-sdk-svg mp-svg-checkmark-thick--success"></i>
																		</div>
																	</span>
																{% else %}
																	<span class="MessageReadStatusAtom-root" title="Geleverd">
																		<div class="mp-sdk-svg-wrapper " style="width: 18px; height: 18px;">
																			<i class="mp-sdk-svg mp-svg-checkmark-thick--secondary"></i>
																		</div>
																		<div class="mp-sdk-svg-wrapper " style="width: 18px; height: 18px;">
																			<i class="mp-sdk-svg mp-svg-checkmark-thick--secondary"></i>
																		</div>
																	</span>
																{% endif %}
															</span>
														</div>
													</div>
												</div>
											</li>
										</ol>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</article>
					<footer>
						<div class="SmartSuggestionsOrganism-root"></div>
						<section class="MessageComposerOrganism-root">
							<form action="{{ route('send.message') }}" method="post" style="display: contents;">
								{{ csrf_field() }}
								<input name="recipient_id" type="hidden" value="{{recipient.id}}">
								<div>
									<textarea name="message" class="text-box {{ errors.has('message') ? ' invalid' : '' }}" placeholder="Write down your message, spamming is not allowed.."></textarea>
								</div>
								<div class="MessageComposerOrganism-send MessageComposerOrganism-empty">
									<div>
										<button title="Sturen" tabindex="0" class="mp-Button mp-Button--primary mp-Button--md">
											<span class="mp-Icon mp-svg-send--inverse"></span>
										</button>
									</div>
								</div>
							</section>
							<nav class="InlineComposerMenuMolecule-root">
								<a title="Using PGP of the User" class="InlineComposerMenuOptionAtom-root">
									<span class="InlineComposerMenuOptionAtom-iconAirlock">
										<i class="mp-sdk-svg mp-pgp-image"></i>
									</span>
									{% if recipient.pgp_key != null %}
										<input style="outline: 1px solid blue" type="checkbox" name="encrypt" value="1">
										<span class="InlineComposerMenuOptionAtom-label">Encrypt this message using PGP</span>
									{% else %}
										<span class="InlineComposerMenuOptionAtom-label">This user has no PGP</span>
									{% endif %}
								</a>
								<a href="#report" title="Report" class="InlineComposerMenuOptionAtom-root">
									<span class="InlineComposerMenuOptionAtom-iconAirlock">
										<i class="mp-sdk-svg mp-svg-alert-blue"></i>
									</span>
									<span class="InlineComposerMenuOptionAtom-label">Report this conversation</span>
								</a>
							</nav>
						</form>
					</footer>
					<div id="report" class="overlay">
						<div class="popup">
							<h2>Report Conversation#{{id}}</h2>
							<a class="close" href="#">&times;</a>
							<div class="content">
								{% if app.session.get('message') %}
									<div id="msg-saved-seller" class="mp-Alert mp-Alert--success">
										<span class="mp-Alert-icon mp-svg-checkmark-circled-white"></span>
										<div>
											{{ app.session.get('message') }}
										</div>
									</div>
								{% endif %}
								{% if not auth_user().ifReportConversationIsDone(id) %}
									<p>If a vendor is trying to ask you to do a Finalize Early before you even have receive the package? Report, or he dox you? Report this conversation immediately.False reporting can result in ban and loss of your funds.
									</p>
									<form action="{{ route('report.message',id) }}" method="post">
										{{ csrf_field() }}

										<div class="form-field">
											<label>What is the reason for the report?</label>
											<input style="width:100%;height:80px;" id="reason" type="text" placeholder="reason" name="reason" class="mp-Input {{ errors.has('reason') ? ' invalid' : '' }}">
										</div>

										<div class="form-field">
											<label>Extra notes?</label>
											<input style="width:100%;height:80px;" id="notes" type="text" placeholder="notes" name="notes" class="mp-Input {{ errors.has('notes') ? ' invalid' : '' }}">
										</div>

										<div class="form-field">
											<img src="/captcha.html"/>
											<label class="mp-Form-controlGroup-label optional-label" for="captcha">Captcha</label>
											<input style="width:50%;" id="captcha" type="text" placeholder="captcha" name="captcha" class="mp-Input {{ errors.has('captcha') ? ' invalid' : '' }}" tabindex="2">
											{% if errors.has('captcha') %}
												<div class="mp-Form-controlGroup-validationMessage mp-Form-controlGroup-validationMessage--error">
													{{ errors.first('captcha') }}
												</div>
											{% endif %}
										</div>

										<div class="buttonbar">
											<input type="submit" class="mp-Button mp-Button--primary" value="Sent">
										</div>
									</form>
								{% else %}
									<div id="msg-saved-seller" class="mp-Alert mp-Alert--success">
										<span class="mp-Alert-icon mp-svg-checkmark-circled-white"></span>
										<div>
											The report is received, the moderator will see this situation within 24 hours. We can sent you message about the report, if not answered within the 3 days. Case will be closed.
										</div>
									</div>
								{% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}

