{% extends "layouts.app" %}
{% block css %}
	<link href="{{ setting('url') }}/web/css/place_ads.css" rel="stylesheet">
	<link media="all" type="text/css" rel="stylesheet" href="/web/css/extra.css">
{% endblock %}

{% block content %}
	<div id="page-wrapper">
		<div class="l-page" style="    padding-top: 50px;">
			<section>
				<h1 class="pull-left page-header">Edit Listing #{{listing.id}}</h1>
				<h2 class="pull-right">
					<a class="text-info" href="{{route('account.listings.index')}}">
						<strong>← Back to Overview</strong>
					</a>
				</h2>
				<div class="clearboth"></div>
				{% if app.session.get('message') %}
							<div id="msg-saved-seller" class="mp-Alert mp-Alert--success">
								<span class="mp-Alert-icon mp-svg-checkmark-circled-white"></span>
								<div>
									{{ app.session.get('message') | raw }}
								</div>
							</div>
				{% endif %}
				{% if app.session.get('error') %}
							<div class="mp-Alert mp-Alert--error">
                            <span class="mp-Alert-icon mp-svg-alert--inverse"></span>
								<div>
									{{ app.session.get('error') | raw }}
								</div>
							</div>
				{% endif %}
				<form id="syi-form" method="post"  action="{{route('listing.update',listing)}}" accept-charset="UTF-8" enctype="multipart/form-data">
					{{ csrf_field() }}
					<div class="box box-stacked">
						<div class="box-content">
							<div class="row form-group">
								<div class="col-md-6">
									<label for="title">Title</label>
									<span class="help-block">Provide a listing title for your product.</span>
								</div>
								<div class="col-md-6">
									<input type="text" name="title" id="title" class="mp-Input {{ errors.has('title') ? ' invalid' : '' }}" value="{{listing.title}}">
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-6">
									<label for="title">Description</label>
									<span class="help-block">Provide a description of your product.</span>
								</div>
								<div class="col-md-6">
									<textarea class="mp-Textarea {{ errors.has('description') ? ' invalid' : '' }}" id="description" name="description" maxlength="" data-maxlength="" placeholder="">{{listing.description}}</textarea>
								</div>
							</div>


							<div class="row form-group">
								<div class="col-md-6">
									<label for="title">Tags</label>
									<span class="help-block">Provide a maximum of unlimited tags separated by comma. Correct and representative tags will increase the findability of your product.</span>
								</div>
								<div class="col-md-6">
									<textarea class="mp-Textarea {{ errors.has('tags') ? ' invalid' : '' }}" id="tags" name="tags" maxlength="" placeholder="">{{listing.tags}}</textarea>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-6">
									<label for="title">Category</label>
									<span class="help-block">Select the category that best fits your product.</span>
								</div>

								<div class="col-md-6">
									<div class="mp-Select category-select-l1 show">
										<select class="form-control {{ errors.has('category') ? ' invalid' : '' }}" id="category" name="category">
											<option value="" selected="selected"></option>
											{{categories|raw}}
										</select>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-6">
									<label for="title">Product Class</label>
									<span class="help-block">Select the type of product you are selling.</span>
								</div>
								<div class="col-md-6">
									<div class="mp-Select category-select-l1 show">
										<select class="{{ errors.has('listingclass') ? ' invalid' : '' }}" name="listingclass">
											<option {{listing.listing_class.id == 1 ? 'selected="selected"' : ''}} value="1">Physical Package</option>
											<option {{listing.listing_class.id == 2 ? 'selected="selected"' : ''}} value="2">Digital Goods</option>
										</select>
									</div>
								</div>
							</div>

							<div class="row form-group">
								<div class="col-md-6">
									<label for="title">Visibility</label>
									<span class="help-block">Select the visibility of this listing.</span>
								</div>
								<div class="col-md-6">
									<div class="mp-Select category-select-l1 show">
										<select class="{{ errors.has('status') ? ' invalid' : '' }}" name="status">
											<option {{listing.is_published == 1 ? 'selected="selected"' : ''}} value="1">Enabled</option>
											<option {{listing.is_published == 0 ? 'selected="selected"' : ''}} value="2">Disabled</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-6">
									<label for="title">Escrow Setting</label>
									<span class="help-block">You can choose of normal Escrow,Multisig Escrow (BTC) or 50%/100% Finalize.</span>
								</div>
								<div class="col-md-6">
									<div class="mp-Select category-select-l1 show">
										<select class="{{ errors.has('escrow') ? ' invalid' : '' }}" name="escrow">
											{% if auth_user().has_fe == 1 %}
												<option {{listing.payment_type.id == 3 ? 'selected="selected"' : ''}} value="3">50% Early Finalize</option>
												<option {{listing.payment_type.id == 2 ? 'selected="selected"' : ''}} value="2">100% Early Finalize</option>
											{% endif %}
											<option {{listing.payment_type.id == 1 ? 'selected="selected"' : ''}} value="1">Escrow</option>
											<option {{listing.payment_type.id == 4 ? 'selected="selected"' : ''}} value="4">Multisig Escrow</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box box-stacked">
						<div class="box-header">
							<h2 class="heading-2">Product Details</h2>
						</div>
						<div class="box-content">
							<div class="section-content">
								<div class="row form-group">
									<div class="col-md-6">
										<label for="price">Price</label>
										<span class="help-block">The price of your product. Other currencies will be automatically converted according the exchange rate on the moment of purchase.</span>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-4 form-group">
												<div class="mp-Select category-select-l1 show">
													<select class="{{ errors.has('currency') ? ' invalid' : '' }}" name="currency">
														<option {{listing.currency == 'usd' ? 'selected="selected"' : ''}} value="usd">USD</option>
														<option {{listing.currency == 'eur' ? 'selected="selected"' : ''}} value="eur">EUR</option>
														<option {{listing.currency == 'gbp' ? 'selected="selected"' : ''}} value="gbp">GBP</option>
														<option {{listing.currency == 'aud' ? 'selected="selected"' : ''}} value="aud">AUD</option>
														<option {{listing.currency == 'cad' ? 'selected="selected"' : ''}} value="cad">CAD</option>
													</select>
												</div>
											</div>
											<div class="col-md-8 form-group ">
												<input type="text" name="price" id="price" class="mp-Input {{ errors.has('price') ? ' invalid' : '' }}" value="{{listing.price}}">
											</div>
										</div>
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-6">
										<label for="title">Quantity Available</label>
										<span class="help-block">The quantity you currently have available for this product.<br> For unlimited quantity choose <b>-1</b></span>
									</div>
									<div class="col-md-6">
										<input type="text" name="quantity" id="quantity" class="mp-Input {{ errors.has('quantity') ? ' invalid' : '' }}" value="{{listing.quantity == '-1' ? '-1' : listing.quantity}}">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-md-6">
										<label for="title">Ships From</label>
										<span class="help-block">The location your product is sent from.</span>
									</div>
									<div class="col-md-6">
										<div class="mp-Select category-select-l1 show">
											<select class="{{ errors.has('shipped_from') ? ' invalid' : '' }}" name="shipped_from">
												{% for country in countries %}
													<option {{country.country_short_name == listing.shipped_from ? 'selected="selected"' : ''}} value="{{country.country_short_name}}">{{country.country_name}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>

								<div class="row form-group ">
									<div class="col-md-6">
										<label for="ships_to">Ships To</label>
										<span class="help-block">Select the regions and/or countries that you will ship your product to. Use CTRL to select multiple options.</span>
									</div>
									<div class="col-md-6">
										<div class="mp-Select country {{ errors.has('ships_to') ? ' invalid' : '' }}">
											<select id="ships_to" style="height:200px;" name="ships_to[]" multiple="">
												{% for country in countries %}
													<option value="{{country.id}}" {% if country.id in own_countries %} selected="selected" {% endif %}>{{ country.country_name}}</option>
												{% endfor %}
											</select>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box box-stacked">
						<div class="box-header">
							<h2 class="heading-2">Product Image
							</h2>
						</div>
						<div class="box-content">
							<div class="section-content">
								<p style="color: #656d78;margin-bottom: 20px;">You can only upload PNG and JPEG images with a maximum size of 512kb. The recommended size is at least 500 x 500 pixels.</p>
								<div class="row form-group ">
										<div class="col-sm-3">
											<a class="thumbnail" href="{{listing.photo}}" target="_blank">
												<img src="{{listing.photo}}">
											</a>
											<div class="col-md-6">
												<input name="image_1" id="image_1" type="file">
											</div>
										</div>
										{{ errors.has('image_1') ? ' invalid' : '' }}

								</div>
							</div>
						</div>
					</div>


					<div class="box box-stacked">
						<div class="box-header">
							<h2 class="heading-2">
								<span>
									Postage / Attributes
								</span>
							</h2>
							<p style="color: #656d78;margin-bottom: 20px;">Physical products should have at least one postage option with appropriate shipping days. Postage options will be treated as product attributes for digital products.</p>
						</div>
						<div class="box-content">
							<div class="clear-fix">
								<div class="row form-group">
									<div class="col-md-6">
										<label for="postage_option">Postage</label>
									</div>
									<div class="col-md-2">
										<label for="postage_shipping">Shipping Days</label>
									</div>
									<div class="col-md-2">
										<label for="postage_price">Price</label>
									</div>
								</div>
								{% set countPostage = 0 %}

								{% for shipping in listing.shipping_options %}
									{% set countPostage = countPostage + 1 %}
									<div class="row form-group">
										<div class="col-md-6 ">
											<input style="width:100%;" type="text" name="postage_option_id_{{shipping.id}}" id="title_postage" class="mp-Input {{ errors.has('postage_option_id_'. shipping.id) ? ' invalid' : '' }}" value="{{shipping.name}}">
										</div>
										<div class="col-md-2 ">
											<input style="width:100%;" type="text" name="postage_shipping_id_{{shipping.id}}" id="days" class="mp-Input {{ errors.has('postage_shipping_id_'. shipping.id) ? ' invalid' : '' }}" value="{{shipping.days}}">
										</div>
										<div class="col-md-2">
											<input style="width:100%;" type="text" name="postage_price_id_{{shipping.id}}" id="price" class="mp-Input {{ errors.has('postage_price_id_'. shipping.id) ? ' invalid' : '' }}" value="{{shipping.price}}">
										</div>
									</div>
								{% endfor %}

								{% for i in countPostage+1..8-%}
									{% set postage_option = listing.shipping_options[i-1]['name'] %}
									{% set postage_shipping = listing.shipping_options[i-1]['days'] %}
									{% set postage_price = listing.shipping_options[i-1]['price'] %}

									<div class="row form-group">
										<div class="col-md-6 ">
											<input style="width:100%;" type="text" placeholder="Postage name" name="postage_option_{{i}}" id="title_postage" class="mp-Input {{ errors.has('postage_option_'. i) ? ' invalid' : '' }}" value="">
										</div>
										<div class="col-md-2 ">
											<input style="width:100%;" type="text" placeholder="Days" name="postage_shipping_{{i}}" id="days" class="mp-Input {{ errors.has('postage_shipping_'. i) ? ' invalid' : '' }}" value="">
										</div>
										<div class="col-md-2">
											<input style="width:100%;" type="text" placeholder="Price" name="postage_price_{{i}}" id="price" class="mp-Input {{ errors.has('postage_price_'. i) ? ' invalid' : '' }}" value="">
										</div>
									</div>

								{% endfor %}


							</div>
						</div>

					</div>
					<div class="box box-stacked" id="place-advertisement">
						<div class="box-content">
							<button type="submit" id="syi-place-ad-button" class="mp-Button mp-Button--primary mp-Button--lg">
								<span>Save</span>
							</button>
						</div>
					</div>
				</form>
			</section>
		</div>
	</div>
{% endblock %}

