{% extends "account.master" %}

{% block user_area %}
	<div id="content">
		<div style="margin-bottom: 50%;" class="mp-Card mp-Card--rounded">
       			{% include 'account.head_normal_bar.twig' %}

			<div class="mp-Card-block">
				<form method="POST" action="{{ route('account.update.pgp') }}" accept-charset="UTF-8">
					{{ csrf_field() }}
					<div class="edit-profile-block clear-fix">
						{% if app.session.get('message') %}
							<div id="msg-saved-seller" class="mp-Alert mp-Alert--success">
								<span class="mp-Alert-icon mp-svg-checkmark-circled-white"></span>
								<div>
									{{ app.session.get('message') }}
								</div>
							</div>
						{% endif %}

						{% if app.session.get('error') %}
						<div class="mp-Alert mp-Alert--error">
							<span class="mp-Alert-icon mp-svg-alert--inverse"></span>
							<div>
								{{ app.session.get('error') }}
							</div>
						</div>
						{% endif %}

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>Public PGP key</b>
							</h3>
							<span class="help-block">We recommend that you provide your public PGP key so that all communications between you and other users/vendors can be encrypted. NOTE: All vendors are required to provide a PGP key.</span>
							<textarea style="height:800px;" class="mp-Textarea {{ errors.has('pgp_key') ? ' invalid' : '' }}" id="pgp_key" name="pgp_key">{{auth_user().pgp_key}}</textarea>
						</div>

						<div class="form-field">
							<button id="confirm-profile" class="primary medium mp-Button mp-Button--primary">
								<span>Continue</span>
							</button>
							<a id="cancel-profile" href="/account/edit_profile" class="secondary medium mp-Button mp-Button--secondary">
								<span>Cancel</span>
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
