{% extends "account.master" %}

{% block css %}
	<link href="{{ setting('url') }}/web/css/account_ads.css" rel="stylesheet">
{% endblock %}


{% block user_area %}


	<section id="content">
	<div id="seller-panel">
			{% include 'account.head_vendor_bar.twig' %}
			{% if app.session.get('message') %}
			<div id="msg-saved-seller" class="mp-Alert mp-Alert--success">
				<span class="mp-Alert-icon mp-svg-checkmark-circled-white"></span>
				<div>
					{{ app.session.get('message') }}
				</div>
			</div>
			{% endif %}
			<div class="canvas">
				<div id="ad-listing-table" class="table ad-listing-container seller">
					<div id="table-head-stickies">
						<div id="ad-listing-header" class="table-head ad-listing compact">
							<div class="row">
								<div style="width: 35%;" class="cell select-column">
									<div id="tableActionPanel">
									<form action="{{ route('account.remove.listings') }}" method="post">
											{{ csrf_field() }}
										<button type="submit" class="mp-Button mp-Button--primary mp-Button--xs">
											<span class="mp-Icon mp-svg-delete-white"></span>
											Delete
										</button>
									</div>
								</div>
								<div class="cell views-column">
									<span>Status</span>
								</div>
								<div class="cell views-column">
									<span>Sold</span>
								</div>
								<div class="cell views-column">
									<span>Supply</span>
								</div>
								<div class="cell views-column">
									<span>Views</span>
								</div>
								<div class="cell position-column">
									<span>Action</span>
								</div>
							</div>
						</div>
						<div id="scroll-under-top-border"></div>
					</div>
					{% for i, item in listings %}
						<div id="ad-listing-table-body" class="table-body">
							<div class="row ad-listing compact">
								<div class="cells">
									<div class="cell icon-column middle">
										<input  name="ids[]" value="{{ item.id }}" type="checkbox">
									</div>
									<div class="cell thumbnail-column">
											<a href="{{ item.url }}">
												<img src="{{item.photo}}">
											</a>
									</div>
									<div class="cell description-column" style="width: 16%;">
										<div class="description-title">
											<a href="{{ item.url }}">
												<span>{{item.title}}</span>
											</a>
										</div>
										<div class="flex-row">
											<span class="type">{{ GetCurrency() }} {{ToUserCurrency(item.price,item.currency)}}</span>
										</div>
									</div>
									<div class="cell views-column">
										<div class="listing-status">
											<div class="activity">{{item.is_published == 1 ? 'Active' : 'Disabled'}}</div>
										</div>
									</div>
									<div class="cell views-column">
										<div class="listing-status">
											<div class="activity">{{item.orders.count()}}</div>
										</div>
									</div>
									<div class="cell views-column">
										<div class="listing-status">
											<div class="activity">{{item.quantity == -1 ? 'Unlimited' : item.quantity}}</div>
										</div>
									</div>
									<div class="cell views-column">
										<div class="amount">
											<span class="mp-Icon mp-Icon--sm mp-svg-eye-open-grey mp-hide-sm"></span>
											{{item.views_count}}</div>
									</div>
									<div class="cell position-column features-column" style="width: 26%;">
										<div class="cta">
										<a href="{{ route('account.ads',item) }}" class="mp-Button--xs mp-Button--primary">
												Ads
											</a>|
											<a href="{{ route('listing.edit',item) }}" class="mp-Button--xs mp-Button--primary">
												Edit
											</a>|<a href="{{ route('listing.clone',item) }}" class="mp-Button--xs mp-Button--primary">
												Clone
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					
					<form>
					{{ listings.links() | raw }}

				</div>
			</div>
		</div>
	</section>


{% endblock %}

