{% extends "account.master" %}
{% block css %}
	<link href="{{ setting('url') }}/web/css/extra.css" rel="stylesheet">
	<style>
	.form-field {
		margin-bottom: 20px;
	}

	</style>
{% endblock %}

{% block user_area %}
	<section id="content">
		{% include 'account.head_normal_bar.twig' %}
		<div class="profile canvas" id="edit-email-panel">
			<div class="mp-Card mp-Card--rounded">
				<div class="mp-Card-block">
					{% if errors.any() %}
						<div class="mp-Alert mp-Alert--error">
							<span class="mp-Alert-icon mp-svg-alert--inverse"></span>
							<div>
								{% for error in errors.all %}
									<li>{{error}}</li>
								{% endfor %}
							</div>
						</div>
					{% endif %}

					{% if app.session.get('message') %}
						<div id="msg-saved-seller" class="mp-Alert mp-Alert--success">
							<span class="mp-Alert-icon mp-svg-checkmark-circled-white"></span>
							<div>
								{{ app.session.get('message') }}
							</div>
						</div>
					{% endif %}

					{% if app.session.get('error') %}
						<div class="mp-Alert mp-Alert--error">
							<span class="mp-Alert-icon mp-svg-alert--inverse"></span>
							<div>
								{{ app.session.get('error') }}
							</div>
						</div>
					{% endif %}

					{{ form_model(user, {'url' :  route('account.change_password.store'), 'files': true}) }}

					<div class="edit-profile-block clear-fix">
						<div class="form-field">
							<h3 class="heading heading-3">
								<b>Current Password</b>
							</h3>
							<span class="help-block">To change your password, you must enter your current password.</span>
							<input type="password" name="old_password" id="old_password" class="mp-Input {{ errors.has('old_password') ? ' invalid' : '' }}" value="">
						</div>

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>New Password</b>
							</h3>
							<span class="help-block">Password must be between 8 and 100 characters.</span>
							<input type="password" name="password" id="password" class="mp-Input {{ errors.has('password') ? ' invalid' : '' }}" value="">
						</div>

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>New Password (repeat)</b>
							</h3>
							<span class="help-block">You only need to specify this if you are changing your password.</span>
							<input type="password" name="password_confirmation" id="password_confirmation" class="mp-Input {{ errors.has('password_confirmation') ? ' invalid' : '' }}" value="">
						</div>

						<hr>

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>Current PIN</b>
							</h3>
							<span class="help-block">To change your PIN, you must enter your current PIN..</span>
							<input type="password" name="pin_current" id="pin_current" class="mp-Input {{ errors.has('pin_current') ? ' invalid' : '' }}" value="" maxlength="6">
						</div>

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>New PIN</b>
							</h3>
							<span class="help-block">PIN must be a six characters (letters allowed).</span>
							<input type="password" name="pin" id="pin" class="mp-Input {{ errors.has('pin') ? ' invalid' : '' }}" value="" maxlength="6">
						</div>

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>New PIN (repeat)</b>
							</h3>
							<span class="help-block">You only need to specify this if you are changing your PIN.</span>
							<input type="password" name="pin_confirmation" id="pin_confirmation" class="mp-Input {{ errors.has('pin_confirmation') ? ' invalid' : '' }}" value="" maxlength="6">
						</div>

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>Forgot your PIN?</b>
							</h3>
							<span class="help-block">Use your security mnemonic to reset your PIN.</span>
							<div class="bg-info text-center" style="padding: 15px;">
								<a href="#">Click here to reset it.</a>
							</div>
						</div>

						<div class="form-field">
							<h3 class="heading heading-3">
								<b>Viewing Currency</b>
							</h3>
							<span class="help-block">Your preferred currency for viewing listing prices.</span>
							<div class="mp-Select category-select-l1 show">
							<select class="{{ errors.has('currency') ? ' invalid' : '' }}" name="currency">
														<option {{ auth_user().currency == 'USD' ? 'selected="selected"' : ''}} value="USD">USD</option>
														<option {{ auth_user().currency == 'EUR' ? 'selected="selected"' : ''}} value="EUR">EUR</option>
														<option {{ auth_user().currency == 'GBP' ? 'selected="selected"' : ''}} value="GBP">GBP</option>
														<option {{ auth_user().currency == 'AUD' ? 'selected="selected"' : ''}} value="AUD">AUD</option>
														<option {{ auth_user().currency == 'CAD' ? 'selected="selected"' : ''}} value="CAD">CAD</option>
							</select>
							</div>
						</div>


						<hr>


						<div class="row form-group">
							<div class="col-md-6">
								<h3 class="heading heading-3">
								<b>2-Factor-Authentication (2FA)</b>
								</h3>
								<span class="help-block">Enable 2FA to login with your PGP key.</span>
							</div>
							<div class="col-md-6">
								<label>
									{% if auth_user().pgp_key != null %}
										<input name="otp" value="1" id="otp" {{auth_user().otp ? 'checked="checked"' : ''}} type="checkbox">
									{% else %}
										<div class="bg-info text-center" style="padding: 15px;">
											<a href="/account/change_pgp">Click here to add a PGP Key</a>
										</div>
									{% endif %}
								</label>
							</div>
						</div>

						<hr>


						<div class="form-field">
							<h3 class="heading heading-3">
								<b>Captcha</b>
							</h3>
							<span class="help-block">Verify your are real</span>
							<img style="margin:5px;" src="/captcha.html"/>
							<input type="text" name="captcha" id="captcha" class="mp-Input {{ errors.has('captcha') ? ' invalid' : '' }}" value="">
						</div>


						<div class="form-field">
							<button id="confirm-profile" class="primary medium mp-Button mp-Button--primary">
								<span>Save</span>
							</button>
							<a id="cancel-profile" href="/account/edit_profile" class="secondary medium mp-Button mp-Button--secondary" _size="lg">
								<span>Cancel</span>
							</a>
						</div>
					</div>
					{{ form_close() }}
				</div>
			</div>
		</div>
	</section>


{% endblock %}

