{% extends "layouts.app" %}

{% block css %}
	<link href="{{ setting('url') }}/web/css/notification.css" rel="stylesheet">

{% endblock %}

{% block content %}
	<div id="page-wrapper" class="mymp">
		<div class="l-page">
			<h1 class="page-header">Notifications</h1>
			<div style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
			 {% if auth_user().notifications.count != null %}
				{% for notification in auth_user().notifications %}
				<div class="notification-item ">
					<div class="swipe-action">
						<span class="swipe-label">Delete</span>
					</div>
					<div class="mp-Listing-compact sdk-custom notification-content">
						<div class="mp-Listing-compact-body">
							<figure class="mp-Listing-compact-picture mp-Icon mp-Icon--xxl mp-svg-image-grey" style="background-image: url({{notification.data['image']}}); background-position: center center;"></figure>
							<div class="mp-Listing-compact-content">
								
								<div class="mp-Listing-compact-title sdk-custom"></div>
								<div class="notification-message {{notification.read_at == null ? 'unread' : ''}} ">
									{% if notification.data['url']  == null %}{{notification.data['message']}}{% else  %}<a href="/notifications/go/{{notification.id}}">{{notification.data['message']}}</a>{% endif %}
								</div>
								<div class="actions"></div>
								<div class="meta-data">
									<span class="mp-Icon mp-Icon--xs mp-svg-megaphone-grey"></span>
									<span class="timestamp">{{notification.created_at.diffForHumans}}</span>
								</div>
								<div class="remove-action">
									<span class="mp-Icon mp-Icon--md mp-svg-delete"></span>
								</div>
									<div class="snippet-menu-toggle">
									<span class="mp-Icon mp-Icon--lg mp-svg-arrow-down"></span>
									<ul class="mp-Nav-dropdown-menu sdk-custom">
										<li>
											<a href="/notifications/delete/{{notification.id}}">Delete Notification</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				

				<a href="/notifications/markread" class="mp-Button mp-Button--primary mp-Button--lg">
								<span>Mark All as Read</span>
				</a>

				<a href="/notifications/empty" class="mp-Button mp-Button--primary mp-Button--lg">
				<span>Empty Notifications</span>
				</a>

				{% else %}
				<div class="empty-state-content">
    <span aria-hidden="true" class="mp-Icon mp-svg-notification-grey sdk-custom"></span>
    <h3 class="heading">No notifications</h3>
    <p class="empty-state-text">Here we will keep you informed of what is happening at Roman Road.</p>
  </div>
				{% endif %}

				<!--div class="notification-item ">
					<div class="swipe-action">
						<span class="swipe-label">Delete</span>
					</div>
					<div class="mp-Listing-compact sdk-custom notification-content">
						<div class="mp-Listing-compact-body">
							<figure class="mp-Listing-compact-picture mp-Icon mp-Icon--xxl mp-svg-image-grey" style="background-image: url(https://cdn.shopify.com/s/files/1/1729/8573/products/The-Punisher-02.png?v=1519394547); background-position: center center;"></figure>
							<div class="mp-Listing-compact-content">
								
								<div class="mp-Listing-compact-title sdk-custom"></div>
								<div class="notification-message  ">
									<a href="/notifications/go/53921937-7dc9-4534-801b-a23b9e5cc3a4">Vendor Jeroen has a new listing made called: asdasdasd check it fast :D</a>								</div>
								<div class="actions"></div>
								<div class="meta-data">
									<span class="mp-Icon mp-Icon--xs mp-svg-megaphone-grey"></span>
									<span class="timestamp">1 week ago</span>
								</div>
								<div class="remove-action">
									<span class="mp-Icon mp-Icon--md mp-svg-delete"></span>
								</div>
									<div class="snippet-menu-toggle">
									<span class="mp-Icon mp-Icon--lg mp-svg-arrow-down"></span>
									<ul class="mp-Nav-dropdown-menu sdk-custom">
										<li>
											<a href="/notifications/delete/53921937-7dc9-4534-801b-a23b9e5cc3a4">Delete Notification</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div-->
								

				<a href="/notifications/markread" class="mp-Button mp-Button--primary mp-Button--lg">
								<span>Mark All as Read</span>
				</a>

				<a href="/notifications/empty" class="mp-Button mp-Button--primary mp-Button--lg">
				<span>Empty Notifications</span>
				</a>



			</div>
		</div>
	</div>


{% endblock %}
