{% extends "layouts.app" %}

{% block css %}
	<link href="{{ setting('url') }}/web/css/account_reset.css" rel="stylesheet">
{% endblock %}
{% block navbar %}
	<header>
		<div class="mp-Header-ribbonTop"></div>
		<div class="mp-Header-navBar">
			<div class="mp-Header-maxWidth">
				<a class="mp-Header-logo" href="/" title="Marketplace">Marketplace</a>
			<ul class="mp-Header-links">
				<li>
					<a class="mp-Button--flat" href="#"  target="_blank">Community</a>
				</li>
				<li>
					<a class="mp-Button--flat" href="#"  target="_blank">Help en info</a>
				</li>
				<li>
					<a class="mp-Button--flat" href="#"  target="_blank">PGP Key</a>
				</li>
				<li>
					<a class="mp-Button--flat" href="/account/apply_vendor"  target="_blank">Becoming a Vendor</a>
				</li>
			</ul>
				<ul class="mp-Header-links mp-pull-right">
					<li class="style-scope mp-Header">
						<a class="mp-Button--flat" data-role="mymp-login" href="/login">
							<span aria-hidden="true" class="mp-Icon mp-svg-profile style-scope mp-Header"></span>
							<span class="mp-hide-lte-md style-scope mp-Header">Login</span>
						</a>
					</li>
					<li class="style-scope mp-Header">
						<a class="mp-Button--flat" data-role="mymp-login" href="/register">
							<span aria-hidden="true" class="mp-Icon mp-svg-profile style-scope mp-Header"></span>
							<span class="mp-hide-lte-md style-scope mp-Header">Register</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="mp-Header-ribbonBottom"></div>

	</header>
{% endblock %}

{% block content %}
	<div id="page-wrapper">
		<div id="content" class="l-page wide-layout">
			<section id="content">
				<h1 class="page-header mp-text-header1">Reset Password</h1>
				<div class="forgot-password-block mp-Card mp-Card--rounded" id="forgot-password-block">
					<div class="mp-Card-block message-block">
						{% if errors.has('password')  %}
							<div class="mp-Alert mp-Alert--error">
								<span class="mp-Alert-icon mp-svg-alert--inverse"></span>
								<div>
									<ul>
										<li>{{errors.first('password') }}</li>
									</ul>
								</div>
							</div>
						{% endif %}
						<div class="mp-Form">
							<div class="mp-Form-body sdk-custom">
								<form id="new-password-form" method="post" action="{{ route('reset_password') }}">
									{{ csrf_field() }}
									<input type="hidden" name="token" value="{{token }}">
									<div class="form-squeeze">
										<div class="mp-Form-controlGroup">
											<label class="mp-Form-controlGroup-label" for="password">New password</label>
											<input id="password" type="password" name="password" class="mp-Input {{ errors.has('password') ? ' invalid' : '' }}" tabindex="1">
											{% if errors.has('password') %}
												<div class="mp-Form-controlGroup-validationMessage mp-Form-controlGroup-validationMessage--error">
													{{errors.first('password') }}
												</div>
											{% endif %}
										</div>

										<div class="mp-Form-controlGroup">
											<label class="mp-Form-controlGroup-label" for="password_confirmation">Confirmation password</label>
											<input id="password_confirmation" type="password" name="password_confirmation" class="mp-Input" tabindex="2">
										</div>
										<div class="mp-Form-controlGroup">
											<input id="new-password-button" type="submit" class="primary md mp-Button mp-Button--primary mp-Button--md" value="Continue">
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}

