{% extends "layouts.app" %}

{% block css %}
	<link href="{{ setting('url') }}/web/css/sent_message.css" rel="stylesheet">

	<style>
		.mp-FooterAlternative {
			position: absolute;
		}
	</style>


{% endblock %}


{% block content %}
	<div id="page-wrapper">
		<div class="l-page">
			<h1 class="page-header">
				Creating a message with
				{{profile.username}}
			</h1>
			<section id="content">
				<div class="mp-Card">
					<div class="box-content">
						<form id="asq-form" action="{{route('profile.sendmessage',profile.username)}}" method="post">
						    {{ csrf_field() }}
							<div class="tip mp-Card mp-Card-block mp-Card-block--highlight">
								<h6>
									Tips from Roman Road
								</h6>
								<ul>
									<li>Encrypt sensitive information using the PGP key of the vendor beneath
									</li>
									<li>
										Recognize <b>scammers</b> if they ask FE or talk outside the market THEY SCAM
									</li>
									<li>
										Don't open any links, it can result in losing your personal information.
									</li>
									<li>
										Report the conversation if vendor is blackmailing you.
									</li>
								</ul>
							</div>
							<h3>Your message</h3>

							<div class="form-field form-textarea">
								<textarea class="mp-Textarea {{ errors.has('message') ? ' invalid' : '' }}" id="message" name="message" maxlength="10000" data-maxlength="10000"></textarea>
							</div>

							 <div class="mp-Form-controlGroup">
                                            <img src="/captcha.html" />
                                            <label class="mp-Form-controlGroup-label optional-label"
                                                for="captcha">Captcha</label>
                                            <input style="width:50%;" id="captcha" type="text" placeholder="captcha" name="captcha"
                                                class="mp-Input {{ errors.has('captcha') ? ' invalid' : '' }}"
                                                tabindex="2">
                                            {% if errors.has('captcha') %}
                                            <div
                                                class="mp-Form-controlGroup-validationMessage mp-Form-controlGroup-validationMessage--error">
                                                {{ errors.first('captcha') }}
                                            </div>
                                            {% endif %}
                                </div>
								<input type="checkbox" value="1" name="encrypt"/>Encrypt Message via Vendors PGP


							<div class="buttonbar">
								<input id="send-asq" type="submit" class="mp-Button mp-Button--primary" value="Sent">
							</div>

							<h3>PGP Key of
								{{profile.username}}</h3>
							<pre style="word-wrap: break-word; white-space: pre-wrap; line-height: normal;">{{profile.pgp_key}}</pre>


						</form>
					</div>
				</div>

				<p class="asq-disclaimer">
					All messages are saved encrypted and will be deleted every 1 week. Our moderator can read the messages after a report between the vendors and the customers to ban scammers or to solve matters. We recommend if you sent sensitive information to encrypt it with using PGP of the seller.
				</p>

			</section>
		</div>
	</div>
{% endblock %}

