					<table>
						<tr>
							<th></th>
							<th>
								<span class="btc20"></span>BTC/1</th>
							<th>
								<span class="xmr20"></span>XMR/1</th>
							<th>
								<span class="ltc20"></span>LTC/1</th>
						</tr>
						<tr>
							<td>USD</td>
							<td>{{ btc_rates.usd }}</td>
							<td>{{ ltc_rates.usd }}</td>
							<td>{{ xmr_rates.usd }}</td>
						</tr>
						<tr>
							<td>EUR</td>
							<td>{{ btc_rates.eur }}</td>
							<td>{{ ltc_rates.eur }}</td>
							<td>{{ xmr_rates.eur }}</td>
						</tr>
						<tr>
							<td>GBP</td>
							<td>{{ btc_rates.gbp }}</td>
							<td>{{ ltc_rates.gbp }}</td>
							<td>{{ xmr_rates.gbp }}</td>
						</tr>
						<tr>
							<td>CAD</td>
							<td>{{ btc_rates.cad }}</td>
							<td>{{ ltc_rates.cad }}</td>
							<td>{{ xmr_rates.cad }}</td>
						</tr>
						<tr>
							<td>AUD</td>
							<td>{{ btc_rates.aud }}</td>
							<td>{{ ltc_rates.aud }}</td>
							<td>{{ xmr_rates.aud }}</td>
						</tr>
						<tr>
							<td>BRL</td>
							<td>{{ btc_rates.brl }}</td>
							<td>{{ ltc_rates.brl }}</td>
							<td>{{ xmr_rates.brl }}</td>
						</tr>
						<tr>
							<td>DKK</td>
							<td>{{ btc_rates.dkk }}</td>
							<td>{{ ltc_rates.dkk }}</td>
							<td>{{ xmr_rates.dkk }}</td>
						</tr>
						<tr>
							<td>NOK</td>
							<td>{{ btc_rates.nok }}</td>
							<td>{{ ltc_rates.nok }}</td>
							<td>{{ xmr_rates.nok }}</td>
						</tr>
						<tr>
							<td>SEK</td>
							<td>{{ btc_rates.sek }}</td>
							<td>{{ ltc_rates.sek }}</td>
							<td>{{ xmr_rates.sek }}</td>
						</tr>
						<tr>
							<td>TRY</td>
							<td>{{ btc_rates.try }}</td>
							<td>{{ ltc_rates.try }}</td>
							<td>{{ xmr_rates.try }}</td>
						</tr>
						<tr>
							<td>CNY</td>
							<td>{{ btc_rates.cny }}</td>
							<td>{{ ltc_rates.cny }}</td>
							<td>{{ xmr_rates.cny }}</td>
						</tr>
						<tr>
							<td>HKD</td>
							<td>{{ btc_rates.hkd }}</td>
							<td>{{ ltc_rates.hkd }}</td>
							<td>{{ xmr_rates.hkd }}</td>
						</tr>
						<tr>
							<td>RUB</td>
							<td>{{ btc_rates.rub }}</td>
							<td>{{ ltc_rates.rub }}</td>
							<td>{{ xmr_rates.rub }}</td>
						</tr>
						<tr>
							<td>INR</td>
							<td>{{ btc_rates.inr }}</td>
							<td>{{ ltc_rates.inr }}</td>
							<td>{{ xmr_rates.inr }}</td>
						</tr>
						<tr>
							<td>JPY</td>
							<td>{{ btc_rates.jpy }}</td>
							<td>{{ ltc_rates.jpy }}</td>
							<td>{{ xmr_rates.jpy }}</td>
						</tr>

					</table>
